.modal {
  display: none;
}

.modalOpen {
  display: flex;
  background-color: white;
  width: 200px;
  height: 200px;
  text-align: center;
}

.bgGrey {
  background-color: grey;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
