section {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
}
div {
  border: 3px solid black;
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
